*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

.app-container{
display:flex;
height:100vh;
}

.sidebar{
width:240px;
background:#f4f4f4;
padding:20px;
border-right:1px solid #ddd;
}

.sidebar a{
display:block;
margin:10px 0;
text-decoration:none;
color:#333;
}

.menu-title{
margin-top:20px;
font-weight:bold;
font-size:14px;
color:#777;
}

.main-section{
flex:1;
display:flex;
flex-direction:column;
}

.navbar{
height:60px;
border-bottom:1px solid #ddd;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
background:white;
}

.page-content{
flex:1;
padding:30px;
overflow:auto;
}

.home-page{
max-width:800px;
}
.algoBtn{
padding:10px;
color:white;
border-radius:8px;
font-weight:600;
transition:0.3s;
}

.algoBtn:hover{
transform:scale(1.05);
}